<html>
	<head>
		<title>My Blog</title>
	</head>
	<body>
		<!--
		Todo:
		{% include nav.html %}
		-->
		<nav style="text-align: center">
			<h1>Welcome to my blog</h1>
			<a href="/">Home</a>
			&nbsp;|&nbsp;
			<a href="/about">About Me</a>
		</nav>
		This is a blog. These pages are reloaded dynamically instead of being cached. Perhaps this needs to change or be optional in the future. However, it can certainly be awesome when working with static files. (Like making miniscule changes to css files that you'd rather not recompile each time... Although, static files are probably better off served from a CDN than a web server like this.)
	</body>
</html>